<div class="d-flex animated fadeIn" id="wrapper">
    <!--Sidebar Component-->
    <app-sidebar></app-sidebar>
    <!--Page wrapper Content all-->
    <div id="page-content-wrapper">
        <div class="body-wrap">
            <div class="container-wrap" [ngClass]="this._gS.toggled && 'toggled-wrap'">
                <!--NavBar Component-->
                <app-header></app-header>
                <div class="container-fluid p-0">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>