.bg-login {
  background-image: url("../../assets/images/bg-report.jpg") !important;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
.cover-login {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
  background-image: linear-gradient(30deg, #2aabe2f5, #9c27b0ed);
}
.content-login {
  z-index: 999 !important;
  position: relative;
}
.h-100 {
  height: 100vh !important;
}
.btn-Block {
  opacity: 0.5;
  pointer-events: none;
}

.btn-Login {
  color: #fff;
  background-color: #2aabe2;
  border-color: #2aabe2;
  border-radius: 5px;
  box-shadow: 0px 2px 5px 0px #00000054;
  padding: 10px 25px;
}

.pointer {
  cursor: pointer;
}

.adapt-top:after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background: linear-gradient(
    90deg,
    #2aabe2 0,
    #2e358f 11%,
    #90288d 22%,
    #ea0a8b 33%,
    #ee4223 44%,
    #f5821f 55%,
    #e6b820 66%,
    #7fb541 77%,
    #009849 88%,
    #00a89c
  );
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.adapt-bottom:after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background: linear-gradient(
    90deg,
    #2aabe2 0,
    #2e358f 11%,
    #90288d 22%,
    #ea0a8b 33%,
    #ee4223 44%,
    #f5821f 55%,
    #e6b820 66%,
    #7fb541 77%,
    #009849 88%,
    #00a89c
  );
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

input {
  background: #f5f5f5 !important;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 15px;
}

.form-control:focus {
  color: #676767;
  background-color: #fff;
  border-color: transparent;
  outline: 0;
  border: 0px solid transparent;
  box-shadow: none;
  transition: 0.3s ease-in-out;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px #fafafa inset;
  -webkit-box-shadow: 0 0 0 30px #fafafa inset;
}

form {
  background: #fff;
  border: 0;
  border-radius: 10px;
  padding: 25px;
  width: 300px;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.4);
}

.subProductos {
  text-align: left;
  min-width: 190px;
  background: #fff;
  border: 2px solid #e6e6e6;
  padding: 10px;
  cursor: pointer;
}

.subProductos:hover {
  background: #065273;
  color: white;
  font-weight: 700;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 97%;
  font-size: 12px;
}
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 1.25rem !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.btn-primary {
  color: #fff;
  background-color: #4e73df !important;
  border-color: #4e73df !important;
}

.btn-primary:hover {
  color: #fff;
  background-color: #4061bf !important;
  border-color: #4061bf !important;
}
