<div class="sidebar-wrapper" [ngClass]="this._gS.toggled && 'toggled-sidebar'">
    <div class="sidebar-heading text-center">
        <img src="assets/images/footer-logo.png" class="img-fluid">
    </div>
    <div class="list-group list-group-flush">
        <a class="list-group-item pointer" [routerLink]="['/dashboard']" [routerLinkActive]="'active'">Inicio</a>
        <a class="list-group-item pointer" [routerLink]="['/reporte-avanzado']"
            [routerLinkActive]="'active'">Avanzado</a>
    </div>
</div>