/* You can add global styles to this file, and also import other style files */

/*Style Global*/
body {
  overflow-x: hidden;
}
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: #fff;
  box-shadow: 0px 3px 8px #0000002b;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #30358f !important;
  border: 1px solid rgba(0, 0, 0, 0) !important;
  color: #fff !important;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #5155a1 !important;
  border-left: 2px solid #fff !important;
  border-color: #007bff;
}
.list-group-item:hover {
  z-index: 2;
  color: #fff;
  background-color: #5155a1 !important;
  border-left: 2px solid #fff !important;
  border-color: #007bff;
}
.pointer {
  cursor: pointer;
}
/*Style Global*/

/*Style Sidebar*/
.sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
  z-index: 2;
  position: absolute;
  top: 0px;
  bottom: 0px;
  will-change: transform;
  overflow-y: auto;
  left: 0px;
  transform: translateX(0%);
  background-color: #30358f !important;
}

.sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

.sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

.toggled-sidebar .sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  .sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  .toggled-sidebar .sidebar-wrapper {
    margin-left: -15rem;
  }
}

.toggled-sidebar {
  margin-left: -15rem !important;
}

.toggled-wrap {
  left: 0 !important;
}

@media (max-width: 575px) {
  .toggled-sidebar {
    position: absolute;
    z-index: 999;
    left: 15rem;
  }
  .navbar-movil {
    z-index: 999;
  }
  .sidebar-heading {
    padding-top: 80px !important;
  }
  .toggled-wrap {
    left: 0rem !important;
  }
}
.container-wrap {
  position: absolute;
  top: 0px;
  left: 0rem;
  right: 0px;
  bottom: 0px;
  overflow-y: auto;
  background-color: #fdfdfd;
  -webkit-transition: left 0.25s ease-out;
  -moz-transition: left 0.25s ease-out;
  -o-transition: left 0.25s ease-out;
  transition: left 0.25s ease-out;
}

@media (min-width: 768px) {
  .container-wrap {
    left: 15rem;
  }
}
/*Style Sidebar*/

/*Css Menu Hamburguesa*/
.hamburger {
  position: relative;
  background-color: transparent;
  left: 0;
  top: 0;
  height: 30px;
  width: 30px;
  padding: 5px 10px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  z-index: 1002;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamburger.is-active {
  background-color: none;
}
._layer {
  background: #333333;
  margin-bottom: 4px;
  border-radius: 2px;
  width: 28px;
  height: 4px;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
.hamburger:hover .-top {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}
.hamburger:hover .-bottom {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}
.hamburger.is-active .-top {
  -webkit-transform: translateY(200%) rotate(45deg) !important;
  -ms-transform: translateY(200%) rotate(45deg) !important;
  transform: translateY(200%) rotate(45deg) !important;
}
.hamburger.is-active .-mid {
  opacity: 0;
}
.hamburger.is-active .-bottom {
  -webkit-transform: translateY(-200%) rotate(135deg) !important;
  -ms-transform: translateY(-200%) rotate(135deg) !important;
  transform: translateY(-200%) rotate(135deg) !important;
}
/*Css Menu Hamburguesa*/
