<!-- Header -->
<div class="header bg-white pb-4 pt-5 pt-md-4">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->
            <div class="row">
                <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-1">Alumnos Activos</h5>
                                    <span class="h2 font-weight-bold mb-0">154</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                        <i class="fas fa-chart-bar"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-muted text-sm">
                                <span class="text-nowrap">Since last month</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-1">Desempeño</h5>
                                    <span class="h2 font-weight-bold mb-0">84%</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                                        <i class="fas fa-chart-pie"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-muted text-sm">
                                <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>
                                <span class="text-nowrap">Since last week</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-1">Total Tareas</h5>
                                    <span class="h2 font-weight-bold mb-0">15</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                                        <i class="fas fa-users"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-muted text-sm">
                                <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>
                                <span class="text-nowrap">Since yesterday</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-1">IEs Trabajados</h5>
                                    <span class="h2 font-weight-bold mb-0">10</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                                        <i class="fas fa-percent"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-muted text-sm">
                                <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                                <span class="text-nowrap">Since last month</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="p-4">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="card shadow py-2 mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="mb-3">Promedio de Ejercicios de Cursos</h5>
                            <app-graph-curso-bar *ngIf="cargandoCurso"></app-graph-curso-bar>
                        </div>
                        <div class="col-md-6">
                            <h5>Promedio de actividad Profesores</h5>
                            <app-graph-profe-bar *ngIf="cargandoProfe"></app-graph-profe-bar>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="card shadow py-2 mb-3">
                <div class="card-body">
                    <h5 class="mb-3">Nivel de uso goblal</h5>
                    <app-graph-nivel-uso></app-graph-nivel-uso>
                    <h5 class="mt-3 mb-4">Nivel de uso por curso</h5>
                    <div class="row">
                        <div class="col-md-4">
                            <h6 class="text-center">Curso: 4A</h6>
                            <app-graph-nivel-uso-curso></app-graph-nivel-uso-curso>
                        </div>
                        <div class="col-md-4">
                            <h6 class="text-center">Curso: 4B</h6>
                            <app-graph-nivel-uso-curso></app-graph-nivel-uso-curso>
                        </div>
                        <div class="col-md-4">
                            <h6 class="text-center">Curso: 4C</h6>
                            <app-graph-nivel-uso-curso></app-graph-nivel-uso-curso>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="card shadow py-2 mb-3">
                <div class="card-body">
                    <h5 class="mb-3">Desempeño</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <app-graph-desempeno></app-graph-desempeno>
                        </div>
                        <div class="col-md-6">
                            <app-graph-desempeno-profe></app-graph-desempeno-profe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="card shadow py-2 mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="mb-3">Tareas por curso</h5>
                            <app-graph-tareas></app-graph-tareas>
                        </div>
                        <div class="col-md-6">
                            <h5 class="mb-3">Tareas por Profesores</h5>
                            <app-graph-tareas-profe></app-graph-tareas-profe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>